/* src/components/Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(-45deg, #a4ff90, #00722c);
  font-family: Arial, sans-serif;
}

.home-content {
  text-align: center;
  margin-top: 80px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.home-content h1 {
  font-size: 2.5rem;
  color: #1b989a;
  margin-bottom: 10px;
}

.home-content p {
  font-size: 1.2rem;
  color: #1b989a;
  margin-bottom: 20px;
}

.start-quiz-button {
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #1b989a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-quiz-button:hover {
  background-color: rgb(163, 234, 135);
  color: #1b989a;
}

.start-quiz-button:focus {
  outline: none;
}
