/* src/components/Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #4A90E2; /* Customize color as desired */
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 40px; /* Adjust logo size */
    margin-right: 10px;
}

.app-name {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.nav-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
}
